html { 
    background: url(https://i.ibb.co/tKfQ707/Lukas-blazek-EWDv-HNNf-Um-Q-unsplash.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

body {
    font-family: 'Nunito', sans-serif;
    color: #055902;
}

h1 {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

.description {
    text-align: center;
    font-size: 15px;
    margin: 5%; 
}

form {
    margin: 15%;
    align-content: center;
}

.box .number {
    background-color: whitesmoke;
    border: thin solid #055902;
    color: #055902;
    font-size: 20px;
    width: 50%;
}



select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: green;
    border: whitesmoke thick;
    background-color: whitesmoke;
    font-size: 15px;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: green;
    border: whitesmoke thick;
    font-size: 15px;
}

ul img {
    align-self: center;
    width: 90%;
    border: solid thick whitesmoke;
}

button {
    padding: 8px;
    margin-left: 10px;
}

@media screen and (min-width: 500px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        padding-top: 50px;
        padding-left: 50px;
    }
    
    h3 {
        font-size: 20px;
    }

    .description {
        font-size: 30px;
        padding-bottom: 20px;
    }

    select {
        width: 20%;
    }

    input {
        width: 10%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    
    form {
        text-align: center;
        font-size: 25px;
        margin: 0 0;
    }

     li {
        width: 30%;
        display: inline-block;
        margin: 0.25%;
        border-radius: 5px;
        padding: 5px;
      }
       img {
        max-width: 100%;
        border-radius: 5px;
        padding: 5px;
      }
}
